Dans ce chapitre, on présente les objets date et datetime. On peut traiter des objets datetimes en utilisant notemment ces 3 packages:
* datetime
* pandas
* numpy

Les liens suivants sont des références:
* objet datetime : https://docs.python.org/fr/3/library/datetime.html
* fonctionalité de date pandas : https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
* pd.date_range : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html

# Objet datetime et date avec le package datetime
En python les objets datetime sont crées avec le package datetime.

In [3]:
from datetime import datetime, date

dt1 = datetime(2015,5,21,3,2,0)
dt1

datetime.datetime(2015, 5, 21, 3, 2)

Ci-dessous la création d'une date:

In [10]:
from datetime import datetime, date
date1 = date(2015,6,21)
date1

datetime.date(2015, 6, 21)

On convertie l'objet dt1 datetime en date:

In [9]:
dt1.date()

datetime.date(2015, 5, 21)

Soit dt un objet datetime:
* dt.year, dt.month, dt.day permettent d'extraire l'année, le mois, le jour du mois
* dt.weekday(), dt.isoweekday() permettent d'extraire le jour de la semaine
* dt.isocalendar() renvoie un tuple de 3 éléments, (année ISO, numéro de semaine ISO, jour de la semaine ISO).
* dt.toordinal() oordinal() renvoie l'ordinal grégorien proleptique de la date de l'objet datetime dt

On va extraire l'année, le mois, le jour, le jour de la semaine de datetime(2019,4,25,2,3,5):

In [1]:
from datetime import datetime, date
dt2 = datetime(2019,4,25,2,3,5)

annee = dt2.year
mois = dt2.month
jour = dt2.day
jour_semaine = dt2.weekday()
jour_semaine_iso = dt2.isoweekday()
print("annee:"+str(annee)+str(" ,")+"mois:"+str(mois)+" ,"+"jour_semaine:"+str(jour_semaine)+" ,"+"jour_semaine_iso:"+str(jour_semaine_iso))

annee:2019 ,mois:4 ,jour_semaine:3 ,jour_semaine_iso:4

weekday() renvoie le jour de la semaine sous forme de nombre, où lundi vaut 0 et dimanche vaut 6.
La méthode isoweekday() renvoie le jour de la semaine sous forme de nombre, où lundi vaut 1 et dimanche vaut 7.

On applique la méthode isocalendar pour déterminer la semaine et le jour du 29-05-1990.

In [3]:
from datetime import datetime, date
dt3 = datetime(1990,5,29)
dt3.isocalendar()

(1990, 22, 2)

Le 29-05-1990 était un mardi et c'était la semaine 22 de l'année 1990. fromordinal(ordinal) Renvoie la date correspondant à l'ordinal grégorien proleptique. Nous allons illustrer son application. On ajoute 3 à l'ordinal de dt3 = 29-05-1990 puis on va déterminer le jour que cela représente:

In [4]:
from datetime import datetime, date
dt3 =  datetime(1990,5,29)
dt3_ordinal = dt3.toordinal()
dt3_ordinal

726616

In [7]:
dt4 = datetime.fromordinal(dt3_ordinal+3)
dt4.isocalendar()

(1990, 22, 5)

Lorsque l'on ajoute 3 jour à la date dt3 on est toujours dans la semaine 22 de l'année 1990. C'est le jour 5 de la semaine, c'est à dire un vendredi.

fromordinal(ordinal) Renvoie la date correspondant à l'ordinal grégorien proleptique.

<h1>Exercice</h1>
Quel jour de la semaine correspondes aux dates suivantes: 21-05-1981, 30-06-1999, 25-03-1986, 26-04-1986?

In [21]:
from datetime import datetime
listdate = [datetime(1981,5,21),datetime(1999,6,30),datetime(1986,3,25),datetime(1986,4,26)]
[(o,o.isoweekday()) for o in listdate]

[(datetime.datetime(1981, 5, 21, 0, 0), 4),
 (datetime.datetime(1999, 6, 30, 0, 0), 3),
 (datetime.datetime(1986, 3, 25, 0, 0), 2),
 (datetime.datetime(1986, 4, 26, 0, 0), 6)]

le 21-05-1981 est un jeudi, le 30-06-1999 est un mercredi

<h1>Exercice</h1>
Nous somme le dimanche 18 aout 2019. Quel jour seront-nous 1000 jours plus tard?

In [4]:
from datetime import datetime, date

#On créer la date
dim18_2019 = datetime(2019,8,18)

#on prend l'ordinale de la date
date_nouv_ordinal = dim18_2019.toordinal()+1000
#On crée la nouvelle date
date_nouv = datetime.fromordinal(date_nouv_ordinal)
print(date_nouv)
#On cherche le jour
date_nouv.isoweekday()

2022-05-14 00:00:00

6

1000 jours plus tard nous seront le 14/05/2022 et se sera un samedi (isoweekday=6).

## Les  timedelta : ajout de quantité de temps
On a va montrer sur quelques exemples l'utilisation des timedelta
<h2>Exemple</h2>
Nous somme le 25/06/2009 à 22h30.

1/ Quelle date seront nous 399 jours plus? On utilise timedelta avec le paramêtre days.

In [8]:
from datetime import datetime, date, timedelta
jour = datetime(2009,6,25,22,30)
jour_ajout = jour+timedelta(days=399)
jour_ajout.date()

datetime.date(2010, 7, 29)

Nous seront le 29 juillet 2010 399 jours plus tard.

2/ Quelle heure et quelle date seront nous 300 000 secondes plus tard? On utilise timedelta avec le paramêtre seconds.

In [12]:
from datetime import datetime, date, timedelta
jour = datetime(2009,6,25,22,30)
jour_ajout = jour+timedelta(seconds=300000)
jour_ajout_heure= jour_ajout.hour
print("heure:" +str(jour_ajout_heure))
jour_ajout.date()

heure:9

datetime.date(2009, 6, 29)

Nous serons le 29 juin 2009 300 000 secondes plus tard, il sera 9 heure.

3/ Quelle date seront nous 10 000 heures plus tard?

In [13]:
from datetime import datetime, date, timedelta
jour = datetime(2009,6,25,22,30)
jour_ajout = jour+timedelta(hours=10000)
jour_ajout.date()

datetime.date(2010, 8, 16)

Nous seront le 16/08/2010 10000 heures plus tard.

## Les méthodes strptime et strftime : convertion datetime en string et inversement
* datetime.strptime(date_string, fmt)  : convertie un string date_string représantant une date en datetime selon le format fmt
* d.strftime(fmt) : convertie un le datetime d en un string selon le format fmt

Un format d'un string représentant une date peut être '%b %d,%Y' ce qui veut dire Nom du mois jour du mois en 2 chiffres et année en 4 chiffres. Par exemple, jan 22 2018.

<table border="1" width="900">
<tr>
 <td>%a </td> <td>Jour de la semaine abrégé dans la langue locale.</td><td> Sun, Mon, ..., Sat (en_US);Lu, Ma, ..., Di (fr_FR)</td>
</tr> 
<tr>
 <td>%A</td> <td>Jour de la semaine complet dans la langue locale. </td><td>Sunday, Monday, ..., Saturday (en_US);Lundi, Mardi, ..., Dimanche(fr_FR)</td>
</tr>
<tr>
 <td> %w </td> <td> Jour de la semaine en chiffre, avec 0 pour le dimanche et 6 pour le samedi. </td><td> 0, 1, ..., 6   </td>
</tr> 
<tr>
 <td> %d </td> <td>Jour du mois sur deux chiffres.  </td><td> 01, 02, ..., 31  </td>
</tr>
<tr>
 <td> %b </td> <td> Nom du mois abrégé dans la langue locale </td><td>  Jan, Feb, ..., Dec (en_US);janv., févr., ..., déc. (fr_FR)
 </td>
</tr>
<tr>
 <td> %B </td> <td>  Nom complet du mois dans la langue locale. </td><td> January, February, ..., December (en_US);janvier, février, ..., décembre (fr_FR)</td>
</tr>  

<tr>
 <td> %m </td> <td> Numéro du mois sur deux chiffres. </td><td> 01, 02, ..., 12</td>
</tr>      

<tr>
 <td> %y </td> <td> Année sur deux chiffres (sans le siècle). </td><td> 00, 01, ..., 99</td>
</tr>   
<tr>
 <td> %Y </td> <td> Année complète sur quatre chiffres. </td><td> 0001, 0002, ..., 2013, 2014,</td>
</tr>       
</table>

<h2>Exemple utilisation strftime</h2>
On va transformer le datetime(2019,5,26) en 3 string différent: 
<ul>
  <li>string1 résultat du format '%A'</li>
  <li>string2 résultat du format '%A , le %d %B %Y' </li>
  <li>string3 résultat du format '%a le %d/%m/%y'</li>  
</ul>

In [11]:
from datetime import datetime, date
date = datetime(2019,5,26)
string1 = date.strftime('%A')
string2 = date.strftime('%A , le %d %B %Y')
string3 = date.strftime('%a le %d/%m/%y')
print('string1: '+str(string1)+" ,"+'string2: '+str(string2)+" ,"+'string3: '+str(string3))

string1: Sunday ,string2: Sunday , le 26 May 2019 ,string3: Sun le 26/05/19

<h2>Exemple utilisation strftime </h2>
On va transformer le datetime(2015,10,23) en string du type 'yyyy-mm-dd', 'dd-mm-yyyy', 'le dd moislettre yyyy'.

In [5]:
from datetime import datetime, date
jour = datetime(2015,10,23)
string1 = jour.strftime('%Y-%m-%d')
string2 = jour.strftime('%d-%m-%Y')
string3 = jour.strftime('le %d %B %Y')
print('string1: '+str(string1)+" ,"+'string2: '+str(string2)+" ,"+'string3: '+str(string3))

string1: 2015-10-23 ,string2: 23-10-2015 ,string3: le 23 October 2015

<h2>Exemple utilisation datetime.strptime(date_string, fmt) </h2>
Ici on va convertir les chaînes de caractères suivantes en datetime:
<ul>
    <li>le 23 October 2015</li>
    <li>Sun le 26/05/19</li>
    <li>2015-10-23</li>
</ul>

In [16]:
from datetime import datetime
date1 = datetime.strptime('le 23 October 2015','le %d %B %Y')
date2 = datetime.strptime('Sun le 26/05/19','%a le %d/%m/%y')
date3 = datetime.strptime('2015-10-23','%Y-%m-%d')

print('date1: '+str(date1)+" ,"+'date2: '+str(date2)+" ,"+'date3: '+str(date3))

date1: 2015-10-23 00:00:00 ,date2: 2019-05-26 00:00:00 ,date3: 2015-10-23 00:00:00

# Datetime dans le contexte pandas
Les fonction du package datetime sont utilisables avec la logique apply dans la cadre des dataframe. Le package pandas fournit également des fonctionnalitées direct sur les date/datetimes. On va montrer comment utiliser les 2 approches

<h2>Exemple</h2>
Dans le dataframe exemple_date suivant, il y a une colonne string exemple['datestring'] représentant des dates. La colonne exemple['volume'] représente des volumes.
<ul>
<li>1/ On va convertire cette colonne en utilisant la fonctionnalité to_datetime du package pandas. Le résultat sera stocké dans date1</li>
<li>2/ On va convertire cette colonne en utilisant la fonction strptime du package. Le résultat sera stocké dans date2</li>
<li>3/ On va ajouter un timedelta aléatoire compris entre 3 et 20 jours en utilisant le package datetime</li>
<li>4/ On va ajouter un timedelta aléatoire compris entre 3 et 20 jour en utilisant le package pandas pd.Timedelta(days=i)</li>
<li>5/ On extrait le mois de date1 de 2 façons différentes</li>
</ul>

In [2]:
#Création du dataframe
import numpy as np
from datetime import datetime
import pandas as pd

exemple_date = pd.DataFrame({'datestring':[datetime(2018,np.random.randint(1,12),np.random.randint(1,25)).strftime('Annee:%Y mois:%B jour:%d') for o in range(0,15)],'volume':np.random.randint(20,100,size=15)})
exemple_date.head(3)

                        datestring  volume
0      Annee:2018 mois:May jour:15      28
1  Annee:2018 mois:January jour:13      68
2     Annee:2018 mois:June jour:07      20

1/ On va convertire cette colonne en utilisant la fonctionnalité to_datetime du package pandas. Le résultat sera stocké dans date1:

In [3]:
exemple_date['date1'] = pd.to_datetime(exemple_date['datestring'],format='Annee:%Y mois:%B jour:%d')
exemple_date['date1'].head(2)

0   2018-05-15
1   2018-01-13
Name: date1, dtype: datetime64[ns]

2/ On va convertire cette colonne en utilisant la fonction strptime du package. Le résultat sera stocké dans date2

In [4]:
from datetime import datetime
exemple_date['date2'] = exemple_date['datestring'].apply(lambda x:datetime.strptime(x,'Annee:%Y mois:%B jour:%d'))
exemple_date['date2'].head(2)

0   2018-05-15
1   2018-01-13
Name: date2, dtype: datetime64[ns]

3/ On va ajouter un timedelta aléatoire compris entre 3 et 20 jours en utilisant le package datetime. Ce timedelta est ajouté a exemple_date['date2']. On stocke le résultat dans exemple_date['date3'].

In [14]:
from datetime import datetime, date, timedelta
import numpy as np
np.random.seed(1998)
exemple_date['date3'] = exemple_date['date2'].apply(lambda x:x+timedelta(days=np.random.randint(3,20)))
exemple_date[['date2','date3']].head(2)

       date2      date3
0 2018-05-15 2018-05-26
1 2018-01-13 2018-01-17

https://www.tutorialspoint.com/python_pandas/python_pandas_timedelta.htm

4/ On va ajouter un timedelta aléatoire compris entre 3 et 20 jours en utilisant le package pandas pd.Timedelta(days=i). Le résultat est stocké dans exemple_date['date4'].

In [19]:
import numpy as np
np.random.seed(1998)
import pandas as pd
pd.Timedelta(days=np.random.randint(3,20))
#exemple_date['date4'] = exemple_date['date4']
exemple_date['date4'] = exemple_date['date2'].apply(lambda x:x+pd.Timedelta(days=np.random.randint(3,20)))
exemple_date['date4'].head(2)

0   2018-05-19
1   2018-01-17
Name: date4, dtype: datetime64[ns]

5/ On extrait le mois de exemple_date['date2'] de 2 façons différentes:

In [21]:
exemple_date['month1'] = exemple_date['date2'].dt.month
exemple_date['month1'].head(2)

0    5
1    1
Name: month1, dtype: int64

In [23]:
exemple_date['month2'] = exemple_date['date2'].apply(lambda x:x.month)
exemple_date['month2'].head(2)

0    5
1    1
Name: month2, dtype: int64

<h2>Exercice  à rendre (datetime)</h2><br>
Le but de cet exercice est de manipuler des datetimes/date. On utilisera à la fois des fonctionnalité provenant du package datetime et des fonctionnalité provenant du package pandas. Les fonctionnalité du package datetime sont utilisées avec la logique apply /map. Il est conseillé de regrader les sites suivants:
 <ul>
    <li><a href="https://docs.python.org/fr/3/library/datetime.html">https://docs.python.org/fr/3/library/datetime.html </a></li>
    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html">https://docs.python.org/fr/3/library/datetime.html</a></li>
 </ul>

On décrit ci-dessous, les colonnes du dataframe DATADATE:
* annee : variable numérique
* mois : varaible numérique
* jour : variable numérique

Ces trois colonnes n'ont aucun rapport avec les autres.
* datestring : variable de type string représantant une date
* date_debut :variable de type datetime
* date_fin : variable de type datetime (date_fin>date_debut)
datestring n'a aucun lien avec les varaibles datestring et datestring

<h4>Executer la cellule ci-dessous permettant la création du dataframe</h4>

In [4]:
import numpy as np
from datetime import datetime, timedelta
import pandas as pd
np.random.seed(2018)
mois = np.random.randint(1,12,size=200,dtype=int)
annee = np.random.randint(2015,2019,size=200,dtype=int)
jour = np.random.randint(1,25,size=200,dtype=int)
datestring = [datetime(np.random.randint(2015,2019,dtype=int),np.random.randint(1,12,dtype=int),np.random.randint(1,25,dtype=int)).strftime('%b %d,%Y') for o in range(0,200)]
date_debut = [datetime(np.random.randint(2015,2019,dtype=int),np.random.randint(1,12,dtype=int),np.random.randint(1,25,dtype=int)) for o in range(0,200)]
date_fin = [o+timedelta(days=np.random.randint(12,90,dtype=int)) for o in date_debut]
VOLUM1 = np.random.randint(10,15,size=200)
VOLUM2 = np.random.randint(6,10,size=200)

DATADATE = pd.DataFrame({'annee':annee,'mois':mois,'jour':jour,'datestring':datestring,'date_debut':date_debut,'date_fin':date_fin,'VOLUM1':VOLUM1,'VOLUM2':VOLUM2})
DATADATE.head(3)

   annee  mois  jour   datestring date_debut   date_fin  VOLUM1  VOLUM2
0   2018    11     3  Aug 23,2018 2018-08-11 2018-09-09      10       9
1   2015     7     5  Apr 13,2016 2015-02-05 2015-05-04      14       8
2   2016     3     6  Sep 07,2016 2017-07-22 2017-10-09      11       7

1/ Construire une colonne DATADATE['datecreat'] à partir des colonnes DATADATE['annee'], DATADATE['mois'], DATADATE['jour']. On utilisera la fonction datetime du package datetime et la logique apply.

2/ Créer la colonne DATADATE['dateconv'] de type datetime à partire de la colonne DATADATE['datestring']. Utiliser 2 méthodes

3/ Convertir la colonne DATADATE['date_debut'] en string. Le datetime '2018-08-23' doit être transformé en 'Thursday 23 August 2018'. Les résultats sont stockés dans DATADATE['date_debut_string'].

4/ Calculer le nombre de jour entre DATADATE['date_debut'] et DATADATE['date_fin']. Les résultats sont stoké dans DATADATE['date_diff'].
Vous pouvez vous inspirer de ce site : http://www.datasciencemadesimple.com/difference-two-dates-days-weeks-months-years-pandas-python-2/

5/Calculer le nombre de jour entre DATADATE['date_debut'] et DATADATE['date_fin']. Les résultats sont stoké dans DATADATE['date_diff_bis']. Vous utiliserez la logique apply avec les méthode date() et toordinal().

6/ Calculer le nombre de samedi et dimanche entre DATADATE['date_fin'] et DATADATE['date_debut'].
* Faire une fonction qui prend 2 datetime en entrée. Cette sort le nombre de samedi et dimanche
* On utilisera toordinal, isocalendar(), fromordinal

7/ Calculer le nombre de semaine différente entre DATADATE['date_fin'] et DATADATE['date_debut']. Le résultat sera stocké dans DATADATE['nb_semaine'].

8/ A l'aide d'un tableau croisé dynamique faire le tableau donnant la somme de VOLUM1 par année et jour de la date de début. Les année sont en ligne et les jours sont en colonne:<br>
<table>
    <tr><td>annee </td><td>lundi</td><td>mardi</td> </tr>
    <tr><td>2015</td><td>60</td><td>60</td></tr>
    <tr><td>2017</td><td>50</td><td>40</td></tr>
</table>
On utilisera la fonctionnalité pd.pivot_table : <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html">https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html</a>