# Type simple

In [3]:
var1 = 7.66
var2 = "Python"
var3 = 9

On regarde les types var1, var2 et var3:

In [2]:
type(var1)

float

In [4]:
type(var2)

str

In [5]:
type(var3)

int

# Liste Python
Un liste Python est composé d'élément simple.

In [12]:
list1 = [1,2.5,9,"Python","R","SAS"]

On regarde la longeur de cette liste:

In [7]:
len(list1)

6

L'élément 0 de la list est :

In [8]:
list1[0]

1

L'élément 5 de la list est:

In [9]:
list1[5]

'SAS'

On va concatener deux listes:

In [10]:
list3 = ["rr","dd",8.9,5] + ["gg","Julia",8,"Java"]
list3

['rr', 'dd', 8.9, 5, 'gg', 'Julia', 8, 'Java']

On va ajouter l'élément "scala" à la list list1 en utilisant append():

In [13]:
list1.append("scala")
list1

[1, 2.5, 9, 'Python', 'R', 'SAS', 'scala']

On peut faire une liste de liste:

In [15]:
list_de_list = [[2.6,8,9.4],["java","latex","c++"],["machine learning","pandas","stochastic"]]

On extrait l'élément 2 de l'élément 1 de list_de_list:

In [16]:
list_de_list[1][2]

'c++'

# Tuple

Un tuple est composé d'élément simple et ne peut pas être modifié.

In [18]:
tuple1 = (5,6,9.5,8,9)

On affiche la longeur de tuple1:

In [20]:
len(tuple1)

5

On affiche l'élément 0 de tuple1:

In [21]:
tuple1[0]

5

On affiche l'élement 4 de tuple1:

In [22]:
tuple1[4]

9

On concaténe 2 tuples:

In [24]:
tuple3 = (5,2.9,"oo") + (8,"Python","8","99")
tuple3

(5, 2.9, 'oo', 8, 'Python', '8', '99')

Ici nous faisont une list de tuple:

In [25]:
list_de_tuple = [("2",9),(9,8,7),("scala","java","python","R")]

On extrait l'élément 3 de l'élément 2 de list_de_tuple:

In [26]:
list_de_tuple[2][3]

'R'

Ici on convertit un tuple en list:

In [27]:
tuple4 = ("Paris 6","Dauphine","Saclay")
list(tuple4)

['Paris 6', 'Dauphine', 'Saclay']

Ici on convertit une liste en tuple:

In [28]:
list5 = ["nager","courire","pédaler"]
tuple(list5)

('nager', 'courire', 'pédaler')

Ici on montre un exemple de tuple de tuple:

In [29]:
tuple_de_tuple = ((5,8,9),("OM","PSG","OL","ASSE"),("AJA","GF38","DFCO"))

# Dictionnaire

Un dictionnaire est ensemble clefs valeurs:

In [30]:
dict1 = {'annee':2018,'mois':5,'jour':12,'nom_moi':"mai"}

On affciche les clefs de dict1 (méthode .keys()):

In [31]:
dict1.keys()

dict_keys(['annee', 'mois', 'jour', 'nom_moi'])

On affciche les valeurs de dict1 (méthode .values()):

In [33]:
dict1.values()

dict_values([2018, 5, 12, 'mai'])

On affiche la valeur de la clé 'mois':

In [34]:
dict1['mois']

5

In [0]:
On ajoute la couple clé = 'date' et valeur='12/05/2018'

In [37]:
dict1['date'] = '12/05/2018'

In [38]:
dict1['date']

'12/05/2018'

ici on construit une list de dictionnaire:

In [3]:
list_dict = [{'annee':2018,'mois':5,'jour':12,'nom_moi':"mai"},{'annee':2019,'mois':6,'jour':13,'nom_moi':"juin"},\
             {'annee':2020,'mois':7,'jour':14,'nom_moi':"juillet"}]

On va afficher la valeur de la clé 'mois' de l'élément 1 de la list _dict_list:

In [4]:
list_dict[1]['mois']

6

On construit un dictionaire dont la valeur de chaque clé est une list:

In [5]:
dict_de_list = {'annee':[2018,209,2020],'mois':[10,5,6],'jours':[12,25,20]}

# Structure conditionnelle

On montre un exemple de if python. Si les seconde de la date actuelle est divisible par 3 
* on affiche les secondes sont divisibles par 3
* sinon on affiche les secondes ne sont pas divisibles par 3

In [48]:
from datetime import datetime
date = datetime.now()
print(str(date))

2019-09-17 14:41:09.601255

In [49]:
if date.second%3==0:
    print("les secondes sont divisibles par 3")
else:
    print("les seconde ne sont pas divisibles par 3")

les secondes sont divisibles par 3

On remarque l'indentation en python.

Ici on rentre un nombre x. Si $x^{3}-1$ est divisble par 4:
* on affiche "x au cube -1 est divisible par 4"
* sinon on affiche le reste da la division par 4"

In [54]:
x = input ("Enter number")

Enter number 7

In [55]:
if (int(x)**3%4-1)==0:
    print("x au cube -1 est divisible par 4")
else:
    res = int(x)%4
    print(res)

3

# Boucle for

On va afficher tous les éléments d'une list avec une boucle for.

In [56]:
list_a_parcourir = [0,7.4,"R","Julia","c++","Java","Python","pandas","SAS"]

for o in list_a_parcourir:
    print(o)

0
7.4
R
Julia
c++
Java
Python
pandas
SAS

Ici on calcule tous les carrés d'une liste de nombre que l'on stock dans une list.

In [57]:
nombre = [6.5,3,9.7,5,4]

nb_carre = []

for nb in nombre:
    nb_carre.append(nb**2)

In [58]:
nb_carre

[42.25, 9, 94.08999999999999, 25, 16]

Ici on va mettre en majuscule une liste de mot:

In [60]:
list_mot = ["r","c","sas","python"]

mot_maj = []

for mot in list_mot:
    mot_maj.append(mot.upper())

In [61]:
mot_maj

['R', 'C', 'SAS', 'PYTHON']

# LA COMPRÉHENSION DE LISTE

Certaine boucle python peuvent être réalisée dans une liste. On va partire d'une liste de mot que l'on va mettre en majuscule.

In [1]:
list_mot = ['formation','bac','ects','limonade']

A partir de list_mot on construit list_mot_maj comme suit:

In [4]:
list_mot_maj = [mot.upper() for mot in list_mot]
list_mot_maj

['FORMATION', 'BAC', 'ECTS', 'LIMONADE']

On va retenir les nombre d'une liste dont le carré est inférieur à 100:

In [6]:
list_nb = [7,8,5.5,4.9,7.5,11,99,10,4]
list_nb_retenu = [nb for nb in list_nb if nb**2<100]
list_nb_retenu

[7, 8, 5.5, 4.9, 7.5, 4]

On va retenir les mots commençant par un a ou un A:

In [10]:
list_mot_bis = ['actuaire','Blame','rire','alibaba','Ada','trouver']
list_mot_ret = [mot for mot in list_mot_bis if mot[0] in ['a','A']]
list_mot_ret

['actuaire', 'alibaba', 'Ada']

# Fonction Python

On va programmer la fonction $f(x)=x^{2}-1$.

In [11]:
def f(x):
    nb = x**2-1
    return(nb)

In [12]:
print("f(2)="+str(f(2))+" f(3)="+str(f(3)))

f(2)=3 f(3)=8

On va faire une fonction qui affiche tous les éléments d'une liste:

In [13]:
def aff(x):
    for el in x:
        print(el)

In [14]:
list_a_afficher = ['Python','R','Scala','Julia']
aff(list_a_afficher)

Python
R
Scala
Julia

On peut utiliser une fonction dans une list de compréhension. On programme la foncion $g(x)=x^{2}+3x+4$. Ensuite on applique cette fonction à une list de nombre.

In [15]:
def g(x):
    nb = x**2+3*x+4
    return(nb)

In [17]:
list_nb_bis = [1,2,-1,6]
list_nb_tier = [g(nb) for nb in list_nb_bis]
list_nb_tier

[8, 14, 2, 58]